.resume-one{
    .resum-pic{
        margin-bottom: 1rem;
        @include respond (minWidth992){
            margin-left: 1.5rem;
            float: right;
        }
    }
    p{
        text-align: justify;
    }
}
.globalDream{
    
        .heading-tertiary{
            margin-top: 2rem;
            @include respond (minWidth992){
            text-align: left;
        }
    }
}

.sunitaslink{
.sunita-links{
.item{
    padding: 0 1rem 2rem 1rem;
    a{
        display: block;
        position: relative;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 1rem;
    border: 1px solid #cccccc80;
        img{
            padding: 2rem;
        }
        &:hover{
            .gry-scl{
                z-index: -4;
            }
            .clr-image{
                opacity: 1;
            }
        }
        .gry-scl{
            position: absolute;
    z-index: 1;
    transition: $transition;
        }
        .clr-image{
    transition: $transition;
    opacity: 0;
        }
    }
}
}
}